* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    margin: 0;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.header ul {
    display: flex;
    gap: 18px;
}

.header a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    gap: 32px;
    padding: 64px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 400px;
    gap: 16px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.title-desc {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.sign-up button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 700;
    border-radius: 7px;
    max-width: 150px;
    padding: 8px 24px;
}

.sign-up-img{
    display: flex;
    flex: 0 1 500px;
}

.sign-up img {
    width: 100%;
    height: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    margin: 32px 0 64px 0;
    background-color: #F9FAF8;
}

.info-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.img-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.img-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8px;
}

.img-desc img {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border: #3882F6 solid 4px;
    border-radius: 10px;
}

.img-desc p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    max-width: 150px;
    color: rgb(85, 84, 84);
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: rgb(85, 84, 84);
    max-width: 700px;
    margin: 0;
    padding: 0;
}

.quote-credit {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    align-self: flex-end;
}

.call-action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
    background-color: #F9FAF8;
}

.call-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 128px;
    padding: 32px 128px;
    background-color: #3882F6;
    border-radius: 10px;
    color: #F9FAF8;
}

.action-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4px;
}

.action-bold {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.action-small{
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.call-action button {
    font-size: 16px;
    font-weight: 700;
    border: solid #F9FAF8 2px;
    border-radius: 5px;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 4px 16px;
}

